<a href="https://colab.research.google.com/github/felipeccoutinho/Data-Science/blob/main/Acidentes_de_Tr%C3%A2nsito_em_Recife_2015_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



MAIO AMARELO

Desde 2014, o Movimento Maio Amarelo abre o debate sobre prevenção de acidentes de trânsito com campanhas anuais que envolvem o poder público e a sociedade civil. A escolha do mês se deu porque ele é historicamente um marco mundial para a segurança no trânsito e para o balanço das ações realizadas em todo o mundo. Foi em 11 de maio de 2011 que a ONU decretou a Década de ações para a Segurança do Trânsito, que tem como meta a redução de acidentes de trânsito em 50%, no Brasil e no mundo. Também é realizada em maio a Semana Mundial de Segurança do Pedestre, também chamada de Campanha Zenani Mandela, em memória à neta de Nelson Mandela, vítima fatal do trânsito na África do Sul em 2010, com apenas 13 anos. O amarelo faz referência à “atenção”, numa alusão à sinalização de advertência. O mês é marcado por campanhas para a conscientização de motoristas para os altos índices de mortes e feridos no trânsito em todo o mundo. Para este ano, o tema “Nós somos o trânsito” já conta com o apoio coordenado entre o Poder Público e a sociedade civil. Os acidentes de trânsito representam a nona maior causa de morte em todo o mundo, sendo o primeiro responsável por mortes entre pessoas com 15 a 29 anos de idade, segundo órgãos internacionais.

FONTE DE DADOS
http://dados.recife.pe.gov.br/it/dataset/acidentes-de-transito-com-e-sem-vitimas/resource/fc1c8460-0406-4fff-b51a-e79205d1f1ab

[Veja a campanha do Maio](https://www.youtube.com/watch?v=eXTx20mgntc)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_2017 = pd.read_excel('https://raw.githubusercontent.com/felipeccoutinho/Data-Science/main/acidentes_2017.xlsx')
df_2018 = pd.read_excel('https://raw.githubusercontent.com/felipeccoutinho/Data-Science/main/acidentes_2018.xlsx')
df_2019 = pd.read_excel('https://raw.githubusercontent.com/felipeccoutinho/Data-Science/main/acidentes_2019.xlsx')
df_2020 = pd.read_excel('https://raw.githubusercontent.com/felipeccoutinho/Data-Science/main/acidentes_2020.xlsx')
df_2017.head()

        data      hora natureza_acidente  ... outros vitimas vitimasfatais
0 2017-01-01  02:55:00        SEM VÍTIMA  ...    NaN     0.0           NaN
1 2017-01-01  05:32:00        SEM VÍTIMA  ...    NaN     0.0           NaN
2 2017-01-01  06:00:00        SEM VÍTIMA  ...    NaN     0.0           NaN
3 2017-01-01  06:24:00        SEM VÍTIMA  ...    NaN     0.0           NaN
4 2017-01-01  06:39:00        SEM VÍTIMA  ...    NaN     0.0           NaN

[5 rows x 21 columns]

In [ ]:
df_tamanho = [df_2017.shape, df_2018.shape, df_2019.shape, df_2020.shape]
df_tamanho

[(11758, 21), (11411, 21), (12062, 21), (4092, 21)]

In [ ]:
df_linhas = (df_2017.shape[0] + df_2018.shape[0] + df_2019.shape[0] + df_2020.shape[0])
df_linhas

39323

In [ ]:
#unir todas as tabelas
df_2017_2018 = pd.merge(df_2017, df_2018, how="outer")
df_2019_2020 = pd.merge(df_2019, df_2020, how="outer")
df = pd.merge(df_2017_2018, df_2019_2020, how="outer")
df.head()

        data      hora natureza_acidente  ... outros vitimas vitimasfatais
0 2017-01-01  02:55:00        SEM VÍTIMA  ...    NaN     0.0           NaN
1 2017-01-01  05:32:00        SEM VÍTIMA  ...    NaN     0.0           NaN
2 2017-01-01  06:00:00        SEM VÍTIMA  ...    NaN     0.0           NaN
3 2017-01-01  06:24:00        SEM VÍTIMA  ...    NaN     0.0           NaN
4 2017-01-01  06:39:00        SEM VÍTIMA  ...    NaN     0.0           NaN

[5 rows x 21 columns]

In [ ]:
# tamanho após a união das tabelas 2017, 2018, 2019 e 2020
df.shape

(39323, 21)

In [ ]:
# verificando os tipos das variáveis
df.dtypes

data                         datetime64[ns]
hora                                 object
natureza_acidente                    object
situacao                             object
bairro                               object
endereco                             object
numero                               object
detalhe_endereco_acidente            object
complemento                          object
tipo                                 object
auto                                float64
moto                                float64
ciclom                              float64
ciclista                            float64
pedestre                            float64
onibus                              float64
caminhao                            float64
viatura                             float64
outros                              float64
vitimas                             float64
vitimasfatais                       float64
dtype: object

In [ ]:
# verificando os dados que são nulos
df.isnull().sum().sort_values(ascending=False)

vitimasfatais                39212
ciclom                       39118
outros                       38849
viatura                      38827
ciclista                     38653
pedestre                     38435
caminhao                     35439
onibus                       33493
detalhe_endereco_acidente    31035
moto                         29231
numero                       20329
auto                          3615
complemento                   3421
natureza_acidente              274
bairro                         217
vitimas                        111
endereco                       101
situacao                        52
hora                            49
tipo                             1
data                             0
dtype: int64

LIMPANDO E ORGANIZANDO OS DADOS

Verificamos no nosso dataset que as variáveis hora, natureza_acidente, situacao, bairro , endereco e tipo são os mais importantes. Então vamos deletar os datos ausentes nestas features.

In [ ]:
df.dropna(subset=['tipo', 'hora', 'endereco', 'bairro', 'natureza_acidente', 'situacao'], inplace=True)

In [ ]:
df.isnull().sum().sort_values(ascending=False)

vitimasfatais                38532
ciclom                       38442
outros                       38175
viatura                      38160
ciclista                     37979
pedestre                     37765
caminhao                     34821
onibus                       32938
detalhe_endereco_acidente    30474
moto                         28679
numero                       19914
auto                          3542
complemento                   3344
vitimas                         71
tipo                             0
endereco                         0
bairro                           0
situacao                         0
natureza_acidente                0
hora                             0
data                             0
dtype: int64

Para os demais dados que são do tipo float e possuem dados ausentes, será atribuido o valor de 0

In [ ]:
df.fillna(0, inplace=True)
df.isnull().sum().sort_values(ascending=False)

vitimasfatais                0
tipo                         0
hora                         0
natureza_acidente            0
situacao                     0
bairro                       0
endereco                     0
numero                       0
detalhe_endereco_acidente    0
complemento                  0
auto                         0
vitimas                      0
moto                         0
ciclom                       0
ciclista                     0
pedestre                     0
onibus                       0
caminhao                     0
viatura                      0
outros                       0
data                         0
dtype: int64

In [ ]:
df.shape

(38643, 21)

In [ ]:
df.head()

        data      hora natureza_acidente  ... vitimas vitimasfatais   ano
0 2017-01-01  02:55:00        SEM VÍTIMA  ...     0.0           0.0  2017
1 2017-01-01  05:32:00        SEM VÍTIMA  ...     0.0           0.0  2017
2 2017-01-01  06:00:00        SEM VÍTIMA  ...     0.0           0.0  2017
3 2017-01-01  06:24:00        SEM VÍTIMA  ...     0.0           0.0  2017
4 2017-01-01  06:39:00        SEM VÍTIMA  ...     0.0           0.0  2017

[5 rows x 22 columns]

In [ ]:
df['vitimas'].sum()

9614.0

In [ ]:
df['vitimasfatais'].sum()

111.0

O dia pode ser dividido em 3 ou 4 períodos, tal como manhã, tarde e noite (8 horas cada um), pelos turnos matutino, diurno, vespertino e noturno ou então por manhã, tarde, noite e madrugada.

A divisão em 3 períodos é informal, sendo a única formal a de quatro períodos, onde o turno Matutino ou Manhã vai das seis da manhã até às 11:49, o período Vespertino ou Tarde começa ao meio dia e vai até às 18:59.

Ao dividir o dia nesses quatro períodos, o período Noturno ou Noite começa às sete da noite e vai até às 23:59, enquanto que a madrugada dura de meia noite até às 05:59.
manha = 06:00 as 11:59 
tarde = 12:00 as 18:59
noite = 19:00 as 23:59
madrugada = 00:00 as 05:59

>>> criar uma coluna com o ano e uma coluna com o horário

In [ ]:
df['ano'] = df['data'].apply(lambda x: str(x)[:4])
df['periodo'] = df['hora'].apply(lambda x: str(x)[:2])
                                                         
df.head()

        data      hora natureza_acidente  ... vitimasfatais   ano periodo
0 2017-01-01  02:55:00        SEM VÍTIMA  ...           NaN  2017      02
1 2017-01-01  05:32:00        SEM VÍTIMA  ...           NaN  2017      05
2 2017-01-01  06:00:00        SEM VÍTIMA  ...           NaN  2017      06
3 2017-01-01  06:24:00        SEM VÍTIMA  ...           NaN  2017      06
4 2017-01-01  06:39:00        SEM VÍTIMA  ...           NaN  2017      06

[5 rows x 23 columns]

In [ ]:

df['ano'] = df['data'].apply(lambda x: str(x)[:4])
if  df['hora'].apply(lambda x: str(x)[:2])                                                                
    df['periodo'] = "MANHA"
if df['hora'] >= '12:00:00' and df['hora'] <= '18:59:59':                                                                 
    df['periodo'] = "TARDE"
elif df['hora'] >= '19:00:00' and df['hora'] <= '23:59:59':                                                                 
    df['periodo'] = "NOITE"       
else:
    df['periodo'] = 'MADRUGADA'                                                           
df.head()

TypeError: ignored

In [ ]:
df.groupby(by='bairro').sum()

                       auto   moto  ciclom  ...  outros  vitimas  vitimasfatais
bairro                                      ...
AFLITOS               316.0   40.0     1.0  ...     1.0     29.0            0.0
AFOGADOS             1971.0  417.0    11.0  ...    31.0    325.0            6.0
ALTO DO MANDU          27.0    5.0     0.0  ...     0.0      5.0            0.0
ALTO JOSÉ BONIFÁCIO    66.0   25.0     0.0  ...     0.0     22.0            1.0
ALTO JOSÉ DO PINHO     42.0   17.0     0.0  ...     0.0     14.0            0.0
...                     ...    ...     ...  ...     ...      ...            ...
TOTÓ                   61.0   34.0     0.0  ...     1.0     21.0            0.0
VASCO DA GAMA         183.0   81.0     2.0  ...     2.0     54.0            1.0
VÁRZEA                930.0  220.0     5.0  ...     8.0    180.0            4.0
ZUMBI                  66.0   13.0     1.0  ...     0.0      7.0            0.0
ÁGUA FRIA             482.0  166.0     5.0  ...     9.0    152.0            3.0

[96 rows x 11 columns]